#category .wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
    align-items: center; */
}

#category .wrapper h3 {
  font-family: Nuckle;
  font-size: 28px;
  font-weight: 591;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 40px;
}

