#category .wrapper .category__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  list-style: none;
  gap: 20px;
}

#category .wrapper .category__list .category__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 135.89px;
  height: 200px;
  padding: 9px, 0px, 9px, 0px;
  border-radius: 10px;
  gap: 3px;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#category .wrapper .category__list .category__list__item:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#category .wrapper .category__list .category__list__item a {
  font-family: Nuckle;
  font-size: 16px;
  font-weight: 539;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-align: center;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

#category .wrapper .category__bottom {
  width: 1, 229px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 20px;
  padding: 14px;
}

#category .wrapper .category__bottom a {
  font-family: Nuckle;
  font-size: 18px;
  font-weight: 591;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}
#category .wrapper .category__bottom a:hover {
  color: #ff0000;
}

#middle__popular .wrapper .box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 21px;
  margin-top: 20px;
}

#middle__popular .wrapper .box .box_list {
  width: 230px;
  height: 390px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  list-style: none;
  position: relative;
  cursor: pointer;
}
#middle__popular .wrapper .box .box_list:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#middle__popular .wrapper .box .box_list .box_list_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

#middle__popular .wrapper .box .box_list .bx-heart {
  position: absolute;
  right: 20px;
  top: 20px;
}

#middle__popular .wrapper .box .box_list h4 {
  font-family: Nuckle;
  font-size: 18px;
  font-weight: 591;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(13, 99, 243, 1);
}
#middle__popular .wrapper .box .box_list p {
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 30, 30, 1);
  margin-top: 6px;
}

#middle__popular .wrapper .box .box_list h6 {
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(108, 117, 125, 1);
  margin-top: 53px;
}

#middle__popular .wrapper .box .box_list .box_list_bot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

#middle__popular .wrapper .box .box_list .box_list_bot button {
  width: 130px;
  height: 40px;
  padding: 10px, 0px, 10px, 0px;
  border-radius: 8px;
  gap: 10px;
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #2c62ea;
  cursor: pointer;
  border: none;
}
#middle__popular .wrapper .box .box_list .box_list_bot button:hover {
  background-color: red;
  color: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#middle__popular .wrapper .wrapper__bottom {
  width: 1, 229px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 20px;
  padding: 14px;
}

#middle__popular .wrapper .wrapper__bottom a {
  font-family: Nuckle;
  font-size: 18px;
  font-weight: 591;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

#middle__popular .wrapper .wrapper__bottom a:hover {
  color: rgb(255, 0, 0);
}

#popular .wrapper .box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 21px;
  margin-top: 20px;
}

#popular .wrapper .box .box_list {
  width: 230px;
  height: 390px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.wrapper .box .top__context {
  height: 60px;
}
#popular .wrapper .box .box_list:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#popular .wrapper .box .box_list .box_list_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

#popular .wrapper .box .box_list .bx-heart {
  position: absolute;
  right: 20px;
  top: 20px;
}

#popular .wrapper .box .box_list h4 {
  font-family: Nuckle;
  font-size: 18px;
  font-weight: 591;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(13, 99, 243, 1);
}
#popular .wrapper .box .box_list p {
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 30, 30, 1);
  margin-top: 6px;
}

#popular .wrapper .box .box_list h6 {
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(108, 117, 125, 1);
  margin-top: 53px;
}

#popular .wrapper .box .box_list .box_list_bot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

#popular .wrapper .box .box_list .box_list_bot button {
  width: 130px;
  height: 40px;
  padding: 10px, 0px, 10px, 0px;
  border-radius: 8px;
  gap: 10px;
  font-family: Nuckle;
  font-size: 14px;
  font-weight: 539;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: #2c62ea;
  cursor: pointer;
  border: none;
}
#popular .wrapper .box .box_list .box_list_bot button:hover {
  background-color: red;
  color: #0000ff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#popular .wrapper .wrapper__bottom {
  width: 1, 229px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 20px;
  padding: 14px;
}

#popular .wrapper .wrapper__bottom a {
  font-family: Nuckle;
  font-size: 18px;
  font-weight: 591;
  line-height: 22px;
  letter-spacing: 0em;
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

#popular .wrapper .wrapper__bottom a:hover {
  color: rgb(255, 0, 0);
}

#brands .wrapper .box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

#brands .wrapper .box .box__card {
  width: 188px;
  height: 100px;
  padding: 5px, 49px, 5px, 49px;
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
}

#brands .wrapper .box .box__card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#shops .wrapper .shop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

#shops .wrapper .shop .shop__lists {
  width: 188px;
  height: 100px;
  padding: 5px, 49px, 5px, 49px;
  border-radius: 8px;
  gap: 10px;
  background-color: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
}

#shops .wrapper .shop .shop__lists:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@media only screen and (max-width: 1250px) {
  #category .wrapper .category__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    gap: 20px;
  }
}

@media only screen and (max-width: 750px) {
  #category .wrapper .category__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  #popular .wrapper .box {
    flex-shrink: 750;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 750px) {
  #middle__popular .wrapper h4 {
    font-family: Nuckle;
    font-size: 16px;
    font-weight: 653;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  #middle__popular .wrapper .box {
    flex-shrink: 750;
    display: flex;
  }

  #popular .wrapper .box .box_list {
    display: grid;
    place-content: center;
  }

  #middle__popular .wrapper .wrapper__bottom {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  #brands .wrapper .box {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media only screen and (max-width: 750px) {
  #brands .wrapper .box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #brands .wrapper .box .box__card {
    width: 150px;
    height: 90px;
  }
}

@media only screen and (max-width: 1250px) {
  #shops .wrapper .shop {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media only screen and (max-width: 750px) {
  #shops .wrapper .shop {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #shops .wrapper .shop .shop__lists {
    width: 150px;
    height: 90px;
  }
}
