#intro .carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.swiper {
 
  border-radius: 30px;
  height: 300px;
}


.swiper-slide img {
 
  object-fit: cover;
}

#intro .carousel button {
  width: 42px;
  height: 42px;
  padding: 9px;
  border-radius: 50%;
  background-image: var(--bg-gradient-dark);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#intro .carousel button:hover {
  background-image: var(--bg-gradient-white);
}

.swiper-pagination {
  --swiper-pagination-color: var(--bg-gradient-dark);
   --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}

@media only screen and (max-width: 750px) {
  #inro .carousel {
    width: 320px;
    height: 180px;
   
  }
  .swiper-slide img {
 
    width: 520px;
    height: 180px;
  }

  .swiper {
 
    border-radius: 30px;
    height: 180px;
  }
 
}

#middle__banner .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 60px;
}

.swiper { 

  border-radius: 30px;
  height: 266px;
}


.swiper-slide img {

  object-fit: cover;
}

#middle__banner .wrapper button {

  width: 42px;
  height: 42px;
  padding: 9px;
  border-radius: 50%;
  background-image: var(--bg-gradient-dark);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;

 
  }
  
  #middle__banner .wrapper button:hover  {
  background-image: var(--bg-gradient-white);
  
  }

  @media only screen and (max-width: 750px) {
    #middle__banner .wrapper {
    display: none;
    }

  }
  